TENCENTCLOUD_APP_ID=
TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=
TENCENT_ASR_ENGINE_MODEL_TYPE=16k_zh_en_speaker
TENCENT_ASR_SENTENCE_STRATEGY=0
TENCENT_ASR_VOICE_FORMAT=1
TENCENT_ASR_NEED_VAD=1

IFLYTEK_LLM_APP_ID=
IFLYTEK_LLM_ACCESS_KEY_ID=
IFLYTEK_LLM_ACCESS_KEY_SECRET=
IFLYTEK_LLM_ENDPOINT=wss://office-api-ast-dx.iflyaisol.com/ast/communicate/v1
IFLYTEK_LLM_LANG=autodialect
IFLYTEK_LLM_ROLE_TYPE=2
IFLYTEK_LLM_FEATURE_IDS=

VOICECODER_ASR_PROVIDER=auto
